env/*
data/*
*.egg-info
__pycache__
lightning_logs/*
Exp_weights/*
wandb/*
*.log
runs/*
jupyter/.ipynb_checkpoints/
run/*
old/*
weights/*
test_set/test_nc.csv
test_set/test_wc.csv
outputs/*
requirements.txt